// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  background-color: rgba($dark-blue, 1); 
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}


.navbar.foot-nav {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
}
