#tree{
    width: 70%;
    float: right;
    margin: 30px;
}

#panel{
    width: 20%;
    float: left;
    margin: 30px;
    margin-right: 0;
    display: block;
    justify-content: center;
}

.element-panel{
    width: 100%;
    margin: 5px !important ;    
}

#color-content{
    display: flex;
    justify-content: center;
}
