#container-tree {
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.div-form {
  margin-top: 1em !important;
}

#tree {
  width: 70%;
  margin: 30px;
}

#panel {
  width: 20%;
  margin: 30px;
  margin-right: 0;
  display: block;
  justify-content: center;
}

.element-panel {
  width: 100%;
  margin-top: 1em !important;
}

#color-content {
  display: flex;
  justify-content: center;

  .circle-picker {
    width: 100% !important;
    margin: 0 !important;
    margin-top: 1em !important;

    >span {
      >div {
        margin: .3em !important;
      }
    }
  }
}
