#goJsDiv{ 
    width: 65%;
    height: 100%; 
    background-color: white;  

}
#container-tree{
    height: 100%;
    margin: 5% 2%;
}

#panel{  
    width: 30%;  
    min-width: 300px;
    height: 100%;
    background-color: aquamarine;
    float:right;
    z-index: 1;
}